* {
	font-family: Arial;
	font-size: 1em;
}
#page {
	padding: 2em 1em;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 1.5em;
	max-width: 700px;
}
.heading {
	font-weight: bold;
}
.row {
	display: flex;
	align-items: center;
	column-gap: 1em;
}
